{% extends "layouts/base.html" %}

{% block title %} contact Table {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<!-- App css -->
<link href="https://coderthemes.com/hyper_2/creative/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="https://coderthemes.com/hyper_2/creative/assets/css/app-creative.min.css" rel="stylesheet" type="text/css" id="light-style" />
<link href="https://coderthemes.com/hyper_2/creative/assets/css/app-creative-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />
{% endblock stylesheets %}

{% block content %}	
<div class="pcoded-main-container">
  <div class="pcoded-content">
      <div class="row">
          <!-- account-section start -->
          <div class="col-lg-6">
          </div>
          
          <!-- account-section end -->
<!-- =========================================================== -->
<!-- Customer overview start -->

<div class="col-lg-12">
<!-- Small Box (Stat card) -->
<h5 class="mb-2 mt-4"><b>Lead Analytics</b></h5>
<div class="row"style="column-gap: 7cm;">
<!--unique-->
<div class="col-xl-3 col-md-6 col-12" style="column-gap: 100cm;">
  <div class="info-box bg-info">
    <span class="info-box-icon bg-white text-info"><i class="ion ion-stats-bars"></i></span>

    <div class="info-box-content">
      <span class="info-box-number">394</span>
      <span class="info-box-text">Total Leads</span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>
<!-- ./col -->
<div class="col-xl-3 col-md-6 col-12">
  <div class="info-box bg-success">
    <span class="info-box-icon bg-white text-success"><i class="ion ion-thumbsup"></i></span>

    <div class="info-box-content">
      <span class="info-box-number">56</span>
      <span class="info-box-text">Qualified Leads</span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>
<!-- /.col -->

<!-- fix for small devices only -->
<div class="clearfix visible-sm-block"></div>

<div class="col-xl-3 col-md-6 col-12" >
  <div class="info-box bg-purple">
    <span class="info-box-icon bg-white text-purple"><i class="ion ion-bag"></i></span>

    <div class="info-box-content">
      <span class="info-box-number">90</span>
      <span class="info-box-text">Disqualified Leads</span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>

<!-- /.col -->
<div class="col-xl-3 col-md-6 col-12">
  <div class="info-box bg-danger">
    <span class="info-box-icon bg-white text-danger"><i class="ion ion-person-stalker"></i></span>

    <div class="info-box-content">
      <span class="info-box-number">151</span>
      <span class="info-box-text">In Process</span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->

<section>
<h5 class="mb-2 mt-4"><b>Select Date Range</b></h5>
<article>
    <div class="three-calendars"></div>
</article>
</section> 
</div>
</div>
</div>
</div>
<div class="content-wrapper" style="margin-top: -220px;" >
  
    <!-- Content Header (Page header) -->
    <section class="content-header"   >
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Contact Table</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Contact</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Contact</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Email</th>
                    <th>Phone</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Email</th>
                    <th>Phone</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->






{% endblock content %}
<!-- Facebookbundle -->
<script src="https://coderthemes.com/hyper_2/creative/assets/js/vendor.min.js"></script>
<script src="https://coderthemes.com/hyper_2/creative/assets/js/app.min.js"></script>

<!-- Apex js -->
<script src="https://coderthemes.com/hyper_2/creative/assets/js/vendor/apexcharts.min.js"></script>
<!-- Todo js -->
<script src="https://coderthemes.com/hyper_2/creative/assets/js/ui/component.todo.js"></script>
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}