{% extends "layouts/base.html" %}

{% block title %} contact Table {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<div class="pcoded-main-container">
  <div class="pcoded-content">
      <div class="row">
          <!-- account-section start -->
          <div class="col-lg-6">
          </div>
          
          <!-- account-section end -->
<!-- =========================================================== -->
<!-- Customer overview start -->

<div class="col-lg-12">
<!-- Small Box (Stat card) -->

<div class="row">
<!--unique-->
<div class="col-xl-3 col-md-6 col-12">
  <div class="info-box bg-info">
    <span class="info-box-icon bg-white text-info"><i class="ion ion-stats-bars"></i></span>

    <div class="info-box-content">
      <span class="info-box-number">394</span>
      <span class="info-box-text">Total Leads</span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>
<!-- ./col -->
<div class="col-xl-3 col-md-6 col-12">
  <div class="info-box bg-success">
    <span class="info-box-icon bg-white text-success"><i class="ion ion-thumbsup"></i></span>

    <div class="info-box-content">
      <span class="info-box-number">56</span>
      <span class="info-box-text">Qualified Leads</span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>
<!-- /.col -->

<!-- fix for small devices only -->
<div class="clearfix visible-sm-block"></div>

<div class="col-xl-3 col-md-6 col-12">
  <div class="info-box bg-purple">
    <span class="info-box-icon bg-white text-purple"><i class="ion ion-bag"></i></span>

    <div class="info-box-content">
      <span class="info-box-number">90</span>
      <span class="info-box-text">Disqualified Leads</span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>
<!-- /.col -->
<div class="col-xl-3 col-md-6 col-12">
  <div class="info-box bg-danger">
    <span class="info-box-icon bg-white text-danger"><i class="ion ion-person-stalker"></i></span>

    <div class="info-box-content">
      <span class="info-box-number">151</span>
      <span class="info-box-text">In Process</span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
  <div class="row" style="margin-top: 5px;">
    <div class="col-md-12">
      <div class="card">
          <div class="card-header">
              <h5>ISA Stats</h5>
          </div>
          <div class="card-body">
              <div id="bar-chart-1"></div>
          </div>
      </div>
  </div>
  </div> 
</div>
</div>
</div>
</div>
<div class="content-wrapper" style="margin-top: -100px;" >
  
    <!-- Content Header (Page header) -->
    <section class="content-header"   >
      <div class="container-fluid">
        <div class="row mb-2">
        
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content" style="margin-top: -2.3cm;margin-left: -0.3cm;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><b>ISA</b></h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Leads Assigned</th>
                    <th>Qualified</th>
                    <th>Disqualified</th>
                    <th>Response Time</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Tanveer
                    </td>
                    <td>Sublime Solution</td>
                    <td>tanveer@sublime.org</td>
                    <td>092 3899899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Rimsha
                    </td>
                    <td>Sublime Solution</td>
                    <td>rimsha@sublime.org</td>
                    <td>092 3789899</td>
                  </tr>
                  <tr>
                    <td>byMEV0NQinDhq8ZfiOi2</td>
                    <td>Ali Raza
                    </td>
                    <td>Sublime Solution</td>
                    <td>aliraza@sublime.org</td>
                    <td>092 3459899</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Leads Assigned</th>
                    <th>Qualified</th>
                    <th>Disqualified</th>
                    <th>Response Time</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->






{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
<script src="/static/assets/js/pages/chart-apex.js"></script>{% endblock javascripts %}