{% extends "layouts/base.html" %}

{% block title %} Facebook ADS {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<!-- Bootstrap css -->
<link rel="stylesheet" href="http://bootstrap.gallery/skyline/css/bootstrap.min.css">
<!-- Icomoon Font Icons css -->
<link rel="stylesheet" href="http://bootstrap.gallery/skyline/fonts/style.css">
<!-- Main css -->
<link rel="stylesheet" href="http://bootstrap.gallery/skyline/css/main.css">


<!-- *************
    ************ Vendor Css Files *************
************ -->
<!-- DateRange css -->
<link rel="stylesheet" href="http://bootstrap.gallery/skyline/vendor/daterange/daterange.css" />{% endblock stylesheets %}

{% block content %}	

           <!-- Page wrapper start -->
		<div class="page-wrapper">
			<!-- Page content start  -->
			<div class="page-content">


				<!-- Page header start -->
				<div class="page-header" style="margin-top: 2cm;">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">Home</li>
						<li class="breadcrumb-item active">Google Impresssions</li>
					</ol>

					
				</div>
				<!-- Page header end -->
				
				<!-- Main container start -->
				<div class="main-container" style="margin-top: 20px;">

					<!-- Row start --> 
					<div class="row">
						<div class="col-md-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-6">
											<h5 class="text-muted fw-normal mt-0 text-truncate" title="Campaign Sent">Total Users</h5>
											<h3 class="my-2 py-1">9078</h3>
											<p class="mb-0 text-muted">
												<span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 7.27%</span>
											</p>
										</div>
							
									</div> <!-- end row-->
								</div> <!-- end card-body -->
							</div> <!-- end card -->
						</div> <!-- end col -->
         
						<div class="col-md-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-6">
											<h5 class="text-muted fw-normal mt-0 text-truncate" title="New Leads">New Users</h5>
											<h3 class="my-2 py-1">3,254</h3>
											<p class="mb-0 text-muted">
												<span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 5.38%</span>
											</p>
										</div>
										<div class="col-6">
											<div class="text-end">
												<div id="new-leads-chart" data-colors="#42d29d"></div>
											</div>
										</div>
									</div> <!-- end row-->
								</div> <!-- end card-body -->
							</div> <!-- end card -->
						</div> <!-- end col -->
					
						<div class="col-md-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-6">
											<h5 class="text-muted fw-normal mt-0 text-truncate" title="Deals">Source Rate</h5>
											<h3 class="my-2 py-1">74.87%</h3>
											<p class="mb-0 text-muted">
												<span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 74.87%</span>
											</p>
										</div>
										<div class="col-6">
											<div class="text-end">
												<div id="deals-chart" data-colors="#3688fc"></div>
											</div>
										</div>
									</div> <!-- end row-->
								</div> <!-- end card-body -->
							</div> <!-- end card -->
						</div> <!-- end col -->
					
						<div class="col-md-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-6">
											<h5 class="text-muted fw-normal mt-0 text-truncate" title="Booked Revenue">Page Avg. Time</h5>
											<h3 class="my-2 py-1">02:53</h3>
											<p class="mb-0 text-muted">
												<span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 11.7%</span>
											</p>
										</div>
										<div class="col-6">
											<div class="text-end">
												<div id="booked-revenue-chart" data-colors="#42d29d"></div>
											</div>
										</div>
									</div> <!-- end row-->
								</div> <!-- end card-body -->
							</div> <!-- end card -->
						</div> <!-- end col -->
					</div>

                    <!--Second Row End-->
					<!-- Row start -->
          <div class="row">
             <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Impresssion</h5>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Area chart</h5>
                        </div>
                        <div class="card-body">
                            <div id="area-chart-4"></div>
                        </div>
                    </div>
                </div>
        </div>
					<!-- Row end -->
<!--Table1 Start-->
<section class="content" style="padding-left: 0cm;padding-right:0 cm; margin-top:30px;" >
	<div class="container-fluid">
	  <div class="row">
		<div class="col-12">
		  <!-- /.card -->
		  <div class="card">
			<div class="card-header">
			  <h3 class="card-title">Impression's Information</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
			  <table  id="example" class="table table-striped table-bordered" style="width:100%;">
				<thead>
					<tr>
						<th>Date</th>
						<th>Account name</th>
						<th>Campaign</th>
						<th>Ad group</th>
						<th>CTR</th>
						<th>Cost</th>
                        
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
					<tr>
						<td>0/02/2022</td>
						<td>Convergence</td>
						<td>Weekend</td>
						<td>xyz</td>
						<td>0.8</td>
						<td>$ 0.4</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
                        <th>Date</th>
						<th>Account name</th>
						<th>Campaign</th>
						<th>Ad group</th>
						<th>CTR</th>
						<th>Cost</th>
                        
					</tr>
				</tfoot>
			  </table>
			</div>
			<!-- /.card-body -->
		  </div>
		  <!-- /.card -->
		</div>
		<!-- /.col -->
	  </div>
	  <!-- /.row -->
	</div>
	<!-- /.container-fluid -->
  </section>

<!--Table1 End-->



				

				</div>
				<!-- Main container end -->

			</div>
			<!-- Page content end -->

		</div>
		<!-- Page wrapper end -->
        {% endblock content %}

        <!-- Specific Page JS goes HERE  -->
        {% block javascripts %}
		<!--**************************
			**************************
				**************************
							Required JavaScript Files
				**************************
			**************************
		**************************-->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/moment.js"></script>


		<!-- *************
			************ Vendor Js Files *************
		************* -->
		<!-- Slimscroll JS -->
		<script src="http://bootstrap.gallery/skyline/vendor/slimscroll/slimscroll.min.js"></script>
		<script src="http://bootstrap.gallery/skyline/vendor/slimscroll/custom-scrollbar.js"></script>

		<!-- Daterange -->
		<script src="http://bootstrap.gallery/skyline/vendor/daterange/daterange.js"></script>
		<script src="http://bootstrap.gallery/skyline/vendor/daterange/custom-daterange.js"></script>

		<!-- Polyfill JS -->
		<script src="http://bootstrap.gallery/skyline/vendor/polyfill/polyfill.min.js"></script>

		<!-- Apex Charts -->
		<script src="http://bootstrap.gallery/skyline/vendor/apex/apexcharts.min.js"></script>
		<script src="http://bootstrap.gallery/skyline/vendor/apex/admin/visitors.js"></script>
		<script src="http://bootstrap.gallery/skyline/vendor/apex/admin/deals.js"></script>
		<script src="http://bootstrap.gallery/skyline/vendor/apex/admin/income.js"></script>
		<script src="http://bootstrap.gallery/skyline/vendor/apex/admin/customers.js"></script>

		<!-- Main JS -->
		<script src="js/main.js"></script>
        
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>

       {% endblock javascripts %}
        